
body{
	font-family: Times New Roman;
	background-color:MidnightBlue;
	color: lavender;
	font-size:18px;
}

.menu{
	overflow:hidden;
	background-color: black;
	margin: 0 15% 0 15%;
}

.menu a{
	float: left;
	display: block;
	color: grey;
	text-align: center;
	padding: 20px 35px;
	text-decoration: none;
	font-size: 15px;
}

.menu a:hover{
	background-color:navy;
	color: white;
	font-weight: bold;
	font-size:18px;
}

.menu li{
	display:inline;
}


.foot{
	background-color: black;
	padding: 2px;
	text-align: center;
	color: grey;
	align-items:bottom;
	font-size:15px;
	margin: 0 15% 0 15%;
}


.content{
	padding:50px;
	background-color:slategrey;
	width: auto;
	height: auto;
	margin: 1% 15% 1% 15%;
	text-align: justify;
}

h1{
	border-bottom: 2px solid black;
	font-size: 30px;
	text-align:center;
	
}

.visual{
	margin: 0 15% 0 15%;
}


.visual.image{
	float:right;
	margin:2%;
	margin-top:10%;
	margin-bottom:60%;
	box-shadow: 2px 2px 0px;
}


.content.references{
	padding:10px;
	width: auto;
	width: auto;
	background-color: black;
	border-top: 1px solid lightgray;
	text-decoration: none;
	color: grey;
	margin: 0 15% 0 15%;
}
.content.references a:hover{
	color: grey;
	font-weight: bold;
}

/*NOPs, How to Support*/
.content.general{
	background-color:MidnightBlue;
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
	padding: 20px;
	margin: 1% 5% 1% 5%;
}




/* Non-Profit Org. Page*/
.visual.img{
	text-align: center;
	opacity: 0.8;
}

/*Gallery Page*/

.grid-container {
	display: grid;
	gap: 50px 100px;
	grid-template-columns: auto auto;
	padding: 10px;
	margin: 0 5% 0 5%;
}
.grid-item {
	background-color: white;
	border: 1px solid pink;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	width: auto;	
	box-shadow: 10px 10px;
}

.grid-item :hover{
  	opacity: 0.8;
}

.grid-item img{
	border: 1px solid pink;
	width: 80%;
	height: auto;
}

.credit p{
	font-size: 16px;
	color: silver;
	position: left;
}
.description {
	padding: 15px;
	text-align: center;
	font-size: 20px;
	color: silver;
}
a{
	text-decoration:none;
	color: purple;
}
@media screen and (max-width: 600px){
	.grid-container{
		grid-template-columns: auto;
	}
} 

/*Registration Form*/
.content.form {
	text-align:center;
}
.content.form fieldset{
	border: 2px solid pink;
	border-radius: 1em 1em;
	margin-left:30%;
	margin-right:30%;
	background-color: #eeeeee;
	font-size: 15px;
	padding:2%;
	color:black;
	box-shadow:5px 5px;
	text-align: left;
}
.container.bottom button{
	padding:2% 0;
	background-color:green;
	width: 100%;
}
.container.bottom a{
	color:black
}

/*Contact Us Form*/
.content.contact fieldset{
	border: 2px solid pink;
	border-radius: 1em 1em;
	margin-left:15%;
	margin-right:15%;
	background-color: #eeeeee;
	font-size: 15px;
	padding:2%;
	color:black;
	box-shadow:5px 5px;
	text-align: left;
}

.container.clear button{
	background-color:thistle;
	width:100%;
	padding:2% 0;
}

/*Register Page*/
.forms{
	padding: 1% 20%;
	font-size: 15px;
	color: black;
}

button{
	text-decoration:none;
}	

fieldset {
	background-color: #eeeeee;
	margin-top: 10px;
	border: 15px solid #eeeeee;
}

legend {
	margin-top: 10px;
	text-decoration: none;
	font-size: 20px;
	border-bottom:2px solid black;
	text-align:center;
}