body{
	font-family: Times New Roman;
	background-color:MidnightBlue;
	color: lavender;
	font-size:18px;
}

.logo{
	margin:0 15%;
}
.logo img{
	height:200px;
	width:100%;
}


.menu{
	overflow:hidden;
	background-color: black;
	margin: 0 15%;
}

.menu a{
	float: left;
	display: block;
	color: grey;
	text-align: center;
	padding: 20px 33px;
	text-decoration: none;
	font-size: 15px;
}

.menu a:hover{
	color: white;
	font-weight: bold;
	font-size:18px;
}

.menu li{
	display:inline;
}


.foot{
	background-color: black;
	padding: 2px;
	text-align: center;
	color: grey;
	align-items:bottom;
	font-size:15px;
	margin: 0 15%;
}


.content{
	padding:50px;
	background-color:slategrey;
	width: auto;
	height: auto;
	margin: 1% 15%;
	text-align: justify;
}

h1{
	border-bottom: 2px solid black;
	font-size: 30px;
	text-align:center;	
}

.visual{
	margin: 0 15%;
}

/*index page*/
.visual.image{
	float:right;
	margin:2%;
	margin-top:10%;
	margin-bottom:60%;
}


.content.references{
	padding:10px;
	width: auto;
	width: auto;
	background-color: black;
	border-top: 1px solid lightgray;
	text-decoration: none;
	color: grey;
	margin: 0 15%;
}
.content.references a:hover{
	color: grey;
	font-weight: bold;
}


/*NOPs, How to Support*/
.content.general{
	background-color:MidnightBlue;
	border-top: 2px solid silver;
	border-bottom: 2px solid silver;
	padding: 20px;
	margin: 1% 5%;
}

/* Non-Profit Org. Page*/
.visual.img{
	text-align: center;
	opacity: 0.8;
}

/*Gallery Page*/

.grid-container {
	display: grid;
	gap: 50px 100px;
	grid-template-columns: auto auto;
	margin: 0 5%;
	color: silver;
	text-align: center;
}
.grid-item {
	background-color: white;
	border: 1px solid pink;
	padding: 20px;	
	box-shadow: 10px 10px;
}

.grid-item :hover{
  	opacity: 0.8;
}

.grid-item img{
	border: 1px solid pink;
	width: 80%;
	height: auto;
}
	
}
.description {
	font-size: 20px;
}

a{
	text-decoration:none;
	color: purple;
}
@media screen and (max-width: 600px){
	.grid-container{
		grid-template-columns: auto;
	}
} 

/*Confirmation Page*/
.content.confirm p{
	text-align: center;
}


/*Forms*/
.content.form p{
	text-align:center; /*Login page*/
}

.content.form fieldset{
	border: 2px solid pink;
	border-radius: 1em 1em;
	margin:0 30%;
	background-color: #eeeeee;/*light gray*/
	font-size: 15px;
	padding:2%;
	color:black;
	box-shadow:5px 5px 5px;
}
.submit button{
	padding:2% 0;
	background-color:green;
	width: 100%;
	box-shadow:5px 5px 2px;
}
.clear button{
	padding:2% 0;
	background-color:thistle;
	width:100%;
	box-shadow:5px 5px 2px;
}

/*Contact Form*/
.content.form.contact fieldset{
	margin: 0 15%;
}


/*Register Page*/
.content.form.register fieldset {
	margin-top: 10px;
}
	
.content.form.register legend {
	background-color:#eeeeee;
	border-bottom:2px solid black;
}